In [2]:
import pandas as pd
df = pd.read_csv("C:\\Users\\user\\Downloads\\archive (8)\\total_data.csv")
df_abril2019 = pd.read_csv("C:\\Users\\user\\Downloads\\archive (8)\\abril2019.csv")

C:\Users\user\AppData\Local\Temp\ipykernel_15952\62941454.py:2: DtypeWarning: Columns (1,17,19,20,28,33,34,54,62,63,66,68,69,88) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("C:\\Users\\user\\Downloads\\archive (8)\\total_data.csv")
C:\Users\user\AppData\Local\Temp\ipykernel_15952\62941454.py:3: DtypeWarning: Columns (61,62,94) have mixed types. Specify dtype option on import or set low_memory=False.
  df_abril2019 = pd.read_csv("C:\\Users\\user\\Downloads\\archive (8)\\abril2019.csv")

In [3]:
from matplotlib import pyplot as plt
import sklearn.model_selection as ms
import sklearn.linear_model as lm
import numpy as np

In [4]:
tabela_espelho = pd.read_csv("C:\\Users\\user\\Downloads\\archive (8)\\total_data.csv")

C:\Users\user\AppData\Local\Temp\ipykernel_15952\3259919446.py:1: DtypeWarning: Columns (1,17,19,20,28,33,34,54,62,63,66,68,69,88) have mixed types. Specify dtype option on import or set low_memory=False.
  tabela_espelho = pd.read_csv("C:\\Users\\user\\Downloads\\archive (8)\\total_data.csv")

In [5]:
df[df["property_type"].isnull()]

,Unnamed: 0,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,...,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,number_of_reviews_ltm,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
290069,35710.0,32590477,https://www.airbnb.com/rooms/32590477,2.019031e+13,2019-03-13,"Na quadra da praia. Por aqui, só boas energias!","Ap delicioso em rua pequena, sem saída, com vi...","Além do quarto, os hóspedes podem utilizar a s...","Ap delicioso em rua pequena, sem saída, com vi...",none,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_abril2019.loc[df_abril2019["id"] == 32590477]

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
34749,32590477,https://www.airbnb.com/rooms/32590477,20190416181629,2019-04-17,"Na quadra da praia. Por aqui, só boas energias!","Ap delicioso em rua pequena, sem saída, com vi...","Além do quarto, os hóspedes podem utilizar a s...","Ap delicioso em rua pequena, sem saída, com vi...",none,"Tudo! Metrô, supermercado Zona Sul e Pão de Aç...",...,t,f,moderate,f,f,2,0,2,0,0.7

In [7]:
a = df_abril2019.loc[4749]
a.loc["property_type"]

'Apartment'

In [8]:
df["property_type"].fillna("Apartment", inplace= True)

In [9]:

grup = df.groupby("id")
df_n_repete = grup.first()
nomes = grup.groups.keys()
df_n_repete["id"] = nomes

In [10]:
df[df["price"].isnull()]

,Unnamed: 0,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,...,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,number_of_reviews_ltm,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
290069,35710.0,32590477,https://www.airbnb.com/rooms/32590477,2.019031e+13,2019-03-13,"Na quadra da praia. Por aqui, só boas energias!","Ap delicioso em rua pequena, sem saída, com vi...","Além do quarto, os hóspedes podem utilizar a s...","Ap delicioso em rua pequena, sem saída, com vi...",none,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
a = df_abril2019.loc[df_abril2019["id"] == 32590477	]
a["price"]

34749    $501.00
Name: price, dtype: object

In [12]:
df["price"].fillna('$501.00' , inplace= True)

In [13]:
df.columns

Index(['Unnamed: 0', 'id', 'listing_url', 'scrape_id', 'last_scraped', 'name',
       'summary', 'space', 'description', 'experiences_offered',
       ...
       'minimum_minimum_nights', 'maximum_minimum_nights',
       'minimum_maximum_nights', 'maximum_maximum_nights',
       'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm',
       'number_of_reviews_ltm', 'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms'],
      dtype='object', length=108)

In [14]:
df.drop(columns= [ 'has_availability', 'availability_30', 'availability_60','availability_90', 'availability_365','bed_type', 'amenities', 'square_feet', 'guests_included',
'extra_people', 'calendar_last_scraped', 'number_of_reviews','first_review', 'last_review', 'review_scores_rating',
'review_scores_accuracy', 'review_scores_cleanliness','review_scores_checkin', 'review_scores_communication',
'review_scores_location', 'review_scores_value', 'requires_license','license', 'jurisdiction_names', 'instant_bookable',
'is_business_travel_ready', 'cancellation_policy','require_guest_profile_picture', 'require_guest_phone_verification',
'calculated_host_listings_count', 'minimum_minimum_nights','maximum_minimum_nights', 'minimum_maximum_nights',
'maximum_maximum_nights', 'minimum_nights_avg_ntm','maximum_nights_avg_ntm', 'number_of_reviews_ltm',
'calculated_host_listings_count_entire_homes','calculated_host_listings_count_private_rooms',
'calculated_host_listings_count_shared_rooms','room_type', 'accommodates','neighbourhood_group_cleansed', 'city', 'state', 'market',
'smart_location', 'country_code', 'country','space', 'neighborhood_overview', 'transit', 'access', 'interaction','house_rules', 'thumbnail_url', 'medium_url', 'picture_url','xl_picture_url', 'host_id', 'host_url', 'host_name', 'host_since','host_location', 'host_about', 
'host_response_time','host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood','host_listings_count', 'host_total_listings_count','host_verifications', 'host_has_profile_pic', 'host_identity_verified',
'street', 'neighbourhood','Unnamed: 0', 'listing_url', 'scrape_id', 'last_scraped'], inplace= True)

In [15]:
df.columns

Index(['id', 'name', 'summary', 'description', 'experiences_offered', 'notes',
       'neighbourhood_cleansed', 'zipcode', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'bathrooms', 'bedrooms', 'beds',
       'price', 'weekly_price', 'monthly_price', 'security_deposit',
       'cleaning_fee', 'minimum_nights', 'maximum_nights', 'calendar_updated',
       'reviews_per_month', 'month'],
      dtype='object')

In [16]:
df["month"].isnull().sum()

2

In [17]:
df.drop(columns= ['id', 'name', 'summary', 'description', 'experiences_offered', 'notes',
'zipcode', 'latitude', 'longitude','is_location_exact',  'weekly_price', 'monthly_price', 'security_deposit',
       'cleaning_fee', 'minimum_nights', 'maximum_nights', 'calendar_updated',
       'reviews_per_month'], inplace= True)

In [18]:
df.columns

Index(['neighbourhood_cleansed', 'property_type', 'bathrooms', 'bedrooms',
       'beds', 'price', 'month'],
      dtype='object')

In [19]:
df["price"] = df["price"].str.replace("$", "")
df["price"] = df["price"].str.replace(",","")
df.head()

,neighbourhood_cleansed,property_type,bathrooms,bedrooms,beds,price,month
0,Copacabana,Condominium,1.0,2.0,2.0,307.00,8.0
1,Ipanema,Apartment,1.0,1.0,1.0,233.00,8.0
2,Copacabana,Apartment,1.0,1.0,2.0,159.00,8.0
3,Ipanema,Apartment,1.0,1.0,2.0,253.00,8.0
4,Ipanema,Apartment,1.5,1.0,2.0,350.00,8.0

In [20]:
grupo = df.groupby('property_type')
df.isnull().sum()

neighbourhood_cleansed       1
property_type                0
bathrooms                 1494
bedrooms                   776
beds                      2335
price                        0
month                        2
dtype: int64

In [21]:
grupo.groups.keys()

dict_keys(['1', 'Aparthotel', 'Apartment', 'Barn', 'Bed and breakfast', 'Boat', 'Boutique hotel', 'Bungalow', 'Cabin', 'Camper/RV', 'Campsite', 'Casa particular', 'Casa particular (Cuba)', 'Castle', 'Chalet', 'Condominium', 'Cottage', 'Dome house', 'Dorm', 'Earth house', 'Farm stay', 'Guest suite', 'Guesthouse', 'Hostel', 'Hotel', 'House', 'Houseboat', 'Hut', 'Igloo', 'Island', 'Lighthouse', 'Loft', 'Nature lodge', 'Other', 'Parking Space', 'Pension (South Korea)', 'Plane', 'Resort', 'Serviced apartment', 'Tent', 'Tiny house', 'Tipi', 'Townhouse', 'Train', 'Treehouse', 'Vacation home', 'Villa', 'Yurt'])

In [22]:
Aparthotel = pd.DataFrame(grupo.get_group('Aparthotel'))
ap = pd.DataFrame(grupo.get_group('Apartment'))
celero = pd.DataFrame(grupo.get_group('Barn'))
cama_e_cafe = pd.DataFrame(grupo.get_group('Bed and breakfast'))
barco = pd.DataFrame(grupo.get_group('Boat'))
Boutique = pd.DataFrame(grupo.get_group('Boutique hotel'))
bungaloow = pd.DataFrame(grupo.get_group('Bungalow'))
Cabin = pd.DataFrame(grupo.get_group('Cabin'))
Camper = pd.DataFrame(grupo.get_group('Camper/RV'))
Camsite = pd.DataFrame(grupo.get_group('Campsite'))
Casa_particular= pd.DataFrame(grupo.get_group('Casa particular'))
Casa_p_Cuba= pd.DataFrame(grupo.get_group('Casa particular (Cuba)'))
Castelo = pd.DataFrame(grupo.get_group('Castle'))
Chalet= pd.DataFrame(grupo.get_group('Chalet'))
Condominio = pd.DataFrame(grupo.get_group('Condominium'))
Cottage = pd.DataFrame(grupo.get_group('Cottage'))
Domo = pd.DataFrame(grupo.get_group('Dome house'))
Dorm = pd.DataFrame(grupo.get_group('Dorm'))
Earth= pd.DataFrame(grupo.get_group('Earth house'))
Farm_house= pd.DataFrame(grupo.get_group('Farm stay'))
Guest_suit= pd.DataFrame(grupo.get_group('Guest suite'))
Guest_House= pd.DataFrame(grupo.get_group('Guesthouse'))
Hostel = pd.DataFrame(grupo.get_group('Hostel'))
Hotel = pd.DataFrame(grupo.get_group('Hotel'))
Casa = pd.DataFrame(grupo.get_group('House'))
Houseboat = pd.DataFrame(grupo.get_group('Houseboat'))
Hut = pd.DataFrame(grupo.get_group('Hut'))
Igloo = pd.DataFrame(grupo.get_group('Igloo'))
Island = pd.DataFrame(grupo.get_group('Island'))
loft = pd.DataFrame(grupo.get_group('Loft'))
Nature= pd.DataFrame(grupo.get_group('Nature lodge'))
other = pd.DataFrame(grupo.get_group('Other'))
Parking_Space= pd.DataFrame(grupo.get_group('Parking Space'))
pensao_sk= pd.DataFrame(grupo.get_group('Pension (South Korea)'))
plane = pd.DataFrame(grupo.get_group('Plane'))
Resort = pd.DataFrame(grupo.get_group('Resort'))
Serviced_apartment= pd.DataFrame(grupo.get_group('Serviced apartment'))
Tent = pd.DataFrame(grupo.get_group('Tent'))
Tiny_house = pd.DataFrame(grupo.get_group('Tiny house'))
Tipi= pd.DataFrame(grupo.get_group('Tipi'))
Townhouse = pd.DataFrame(grupo.get_group('Townhouse'))
train = pd.DataFrame(grupo.get_group('Train'))
tree_HOUSE= pd.DataFrame(grupo.get_group('Treehouse'))
vacation_home = pd.DataFrame(grupo.get_group('Vacation home'))
villa = pd.DataFrame(grupo.get_group('Villa'))
yurt = pd.DataFrame(grupo.get_group('Yurt'))

In [23]:
list_tipos = [Aparthotel,ap,celero,cama_e_cafe,barco,Boutique,bungaloow,Cabin,Camper,Camsite,Casa_particular,Casa_p_Cuba,Castelo,
Chalet,Condominio,Cottage,Domo,Dorm,Earth,Farm_house,Guest_suit,Guest_House,Hostel,Hotel,Casa,Houseboat,Hut,Igloo,Island,
loft,Nature,other,Parking_Space,pensao_sk,plane,Resort,Serviced_apartment,Tent,Tiny_house,Tipi,Townhouse,train,tree_HOUSE,vacation_home,villa,yurt,]

lista_nome_tipos = ['Aparthotel','ap','celero','cama_e_cafe','barco','Boutique','bungaloow','Cabin','Camper','Camsite','Casa_particular','Casa_p_Cuba','Castelo',
'Chalet','Condominio','Cottage','Domo','Dorm','Earth','Farm_house','Guest_suit','Guest_House','Hostel','Hotel','Casa','Houseboat','Hut','Igloo','Island',
'loft','Nature','other','Parking_Space','pensao_sk','plane','Resort','Serviced_apartment','Tent','Tiny_house','Tipi','Townhouse','train','tree_HOUSE','vacation_home','villa','yurt']

In [24]:
for i in range(len(list_tipos)):
    print("="*60)
    print(lista_nome_tipos[i])
    print(list_tipos[i].isnull().sum())

============================================================
Aparthotel
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
ap
neighbourhood_cleansed       1
property_type                0
bathrooms                 1099
bedrooms                   587
beds                      1623
price                        0
month                        1
dtype: int64
============================================================
celero
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
cama_e_cafe
neighbourhood_cleansed     0
property_type              0
bathrooms                 74
bedrooms                   0
beds                      33
price                      0
month                      0
dtype: int64
============================================================
barco
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Boutique
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
bungaloow
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Cabin
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Camper
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Camsite
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Casa_particular
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Casa_p_Cuba
neighbourhood_cleansed     0
property_type              0
bathrooms                  0
bedrooms                   2
beds                      10
price                      0
month                      0
dtype: int64
============================================================
Castelo
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      1
price                     0
month                     0
dtype: int64
============================================================
Chalet
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Condominio
neighbourhood_cleansed      0
property_type               0
bathrooms                  13
bedrooms                   27
beds                      217
price                       0
month                       0
dtype: int64
============================================================
Cottage
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Domo
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Dorm
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Earth
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      6
price                     0
month                     0
dtype: int64
============================================================
Farm_house
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Guest_suit
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      6
price                     0
month                     0
dtype: int64
============================================================
Guest_House
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  1
beds                      3
price                     0
month                     0
dtype: int64
============================================================
Hostel
neighbourhood_cleansed     0
property_type              0
bathrooms                 48
bedrooms                   5
beds                      53
price                      0
month                      0
dtype: int64
============================================================
Hotel
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Casa
neighbourhood_cleansed      0
property_type               0
bathrooms                 250
bedrooms                   90
beds                      310
price                       0
month                       0
dtype: int64
============================================================
Houseboat
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Hut
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Igloo
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Island
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
loft
neighbourhood_cleansed     0
property_type              0
bathrooms                 10
bedrooms                  33
beds                      16
price                      0
month                      0
dtype: int64
============================================================
Nature
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
other
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      1
price                     0
month                     0
dtype: int64
============================================================
Parking_Space
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
pensao_sk
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
plane
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Resort
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Serviced_apartment
neighbourhood_cleansed     0
property_type              0
bathrooms                  0
bedrooms                   5
beds                      36
price                      0
month                      0
dtype: int64
============================================================
Tent
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Tiny_house
neighbourhood_cleansed     0
property_type              0
bathrooms                  0
bedrooms                  24
beds                       9
price                      0
month                      0
dtype: int64
============================================================
Tipi
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Townhouse
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  2
beds                      2
price                     0
month                     0
dtype: int64
============================================================
train
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
tree_HOUSE
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
vacation_home
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
villa
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      9
price                     0
month                     0
dtype: int64
============================================================
yurt
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64

In [25]:
for i in list_tipos:
    #preenchendo valor faltante nas camas
    camas = i[i["beds"].notnull()]
    numero_camas = round(camas["beds"].mean())
    i["beds"].fillna( numero_camas , inplace= True)
    
    #preenchendo valor faltante nas quartos
    quartos = i[i["bedrooms"].notnull()]
    numero_quarto = round(quartos["bedrooms"].mean())
    i["bedrooms"].fillna( numero_quarto , inplace= True)
    
    #preenchendo valor faltante nas banheiros
    banheiros = i[i["bathrooms"].notnull()]
    numero_banheiro = round(banheiros["bathrooms"].mean())
    i["bathrooms"].fillna( numero_banheiro , inplace= True)

In [26]:
for i in range(len(list_tipos)):
    print("="*60)
    print(lista_nome_tipos[i])
    print(list_tipos[i].isnull().sum())

============================================================
Aparthotel
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
ap
neighbourhood_cleansed    1
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     1
dtype: int64
============================================================
celero
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
cama_e_cafe
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
barco
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Boutique
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
bungaloow
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Cabin
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Camper
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Camsite
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Casa_particular
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Casa_p_Cuba
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Castelo
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Chalet
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Condominio
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Cottage
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Domo
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Dorm
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Earth
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Farm_house
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Guest_suit
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Guest_House
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Hostel
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Hotel
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Casa
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Houseboat
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Hut
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Igloo
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Island
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
loft
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Nature
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
other
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Parking_Space
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
pensao_sk
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
plane
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Resort
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Serviced_apartment
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Tent
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Tiny_house
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Tipi
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
Townhouse
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
train
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
tree_HOUSE
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
vacation_home
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
villa
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64
============================================================
yurt
neighbourhood_cleansed    0
property_type             0
bathrooms                 0
bedrooms                  0
beds                      0
price                     0
month                     0
dtype: int64

In [27]:
month = ap[ap["month"].notnull()]
numero_month = round(month["month"].mean())
ap["month"].fillna( numero_camas , inplace= True)

In [28]:
combined_df = pd.concat(list_tipos, ignore_index=True)

In [29]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 784120 entries, 0 to 784119
Data columns (total 7 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   neighbourhood_cleansed  784119 non-null  object
 1   property_type           784120 non-null  object
 2   bathrooms               784120 non-null  float64
 3   bedrooms                784120 non-null  float64
 4   beds                    784120 non-null  float64
 5   price                   784120 non-null  object
 6   month                   784120 non-null  float64
dtypes: float64(4), object(3)
memory usage: 41.9+ MB

In [30]:
combined_df[combined_df["neighbourhood_cleansed"].isnull()]

,neighbourhood_cleansed,property_type,bathrooms,bedrooms,beds,price,month
226423,NaN,Apartment,2.0,2.0,2.0,501.00,2.0

In [31]:
a = tabela_espelho.loc[tabela_espelho["property_type"].isnull() ]

In [32]:
a = df_abril2019.loc[df_abril2019["id"] == 32590477	]
a["neighbourhood_cleansed"]

34749    Copacabana
Name: neighbourhood_cleansed, dtype: object

In [33]:
combined_df["neighbourhood_cleansed"].fillna("Copacabana" , inplace= True)

In [34]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 784120 entries, 0 to 784119
Data columns (total 7 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   neighbourhood_cleansed  784120 non-null  object
 1   property_type           784120 non-null  object
 2   bathrooms               784120 non-null  float64
 3   bedrooms                784120 non-null  float64
 4   beds                    784120 non-null  float64
 5   price                   784120 non-null  object
 6   month                   784120 non-null  float64
dtypes: float64(4), object(3)
memory usage: 41.9+ MB

In [57]:
X = combined_df[['neighbourhood_cleansed', 'property_type', 'bathrooms', 'bedrooms','beds']]
y = combined_df["price"].values

In [58]:
X_dummis = pd.get_dummies(X)
X_dummis

,bathrooms,bedrooms,beds,neighbourhood_cleansed_Abolição,neighbourhood_cleansed_Alto da Boa Vista,neighbourhood_cleansed_Anchieta,neighbourhood_cleansed_Andaraí,neighbourhood_cleansed_Anil,neighbourhood_cleansed_Bancários,neighbourhood_cleansed_Bangu,...,property_type_Serviced apartment,property_type_Tent,property_type_Tiny house,property_type_Tipi,property_type_Townhouse,property_type_Train,property_type_Treehouse,property_type_Vacation home,property_type_Villa,property_type_Yurt
0,2.0,1.0,1.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1.0,1.0,1.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,2.0,2.0,3.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,1.0,1.0,1.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,1.0,1.0,3.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
784115,1.0,2.0,2.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
784116,1.0,2.0,2.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
784117,1.0,2.0,2.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
784118,1.0,2.0,2.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
784119,1.0,2.0,2.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [59]:
X_train, X_test, y_train, y_test = ms.train_test_split(X_dummis, y, test_size = 1/5, random_state = 0)
regressao = lm.LinearRegression()
regressao.fit(X_train , y_train)
y_pred = regressao.predict(X_test)
np.set_printoptions(precision=2)

In [60]:
result = np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1)

In [61]:
def undummify(df, prefix_sep="_"):
    cols2collapse = {
        item.split(prefix_sep)[0]: (prefix_sep in item) for item in df.columns
    }
    series_list = []
    for col, needs_to_collapse in cols2collapse.items():
        if needs_to_collapse:
            undummified = (
                df.filter(like=col)
                .idxmax(axis=1)
                .apply(lambda x: x.split(prefix_sep, maxsplit=1)[1])
                .rename(col)
            )
            series_list.append(undummified)
        else:
            series_list.append(df[col])
    undummified_df = pd.concat(series_list, axis=1)
    return undummified_df

X_reverse = undummify(X_test)

X_reverse = X_reverse.reset_index(drop=True)

In [62]:
y_compare = pd.DataFrame(result)
y_compare = y_compare.rename(index=str, columns={0:'y_pred', 1:'y_test'})
y_compare = y_compare.reset_index(drop=True)

In [63]:
resultado_final = pd.concat([y_compare, X_reverse], axis=1)
resultado_final

,y_pred,y_test,bathrooms,bedrooms,beds,neighbourhood,property
0,314.490234,398.00,1.0,1.0,4.0,cleansed_Leblon,type_Apartment
1,2505.966797,546.00,4.0,5.0,7.0,cleansed_Barra da Tijuca,type_Apartment
2,111.505859,200.00,1.0,1.0,2.0,cleansed_Jacarepaguá,type_Condominium
3,907.064453,599.00,2.0,3.0,2.0,cleansed_Guaratiba,type_House
4,375.03125,101.00,1.0,1.0,1.0,cleansed_Santa Teresa,type_House
...,...,...,...,...,...,...,...
156819,809.427734,802.00,2.0,2.0,2.0,cleansed_Vidigal,type_Apartment
156820,274.917969,172.00,1.0,1.0,1.0,cleansed_Ipanema,type_Apartment
156821,1063.75,276.00,2.0,2.0,4.0,cleansed_Barra da Tijuca,type_Apartment
156822,810.138672,449.00,2.0,2.0,2.0,cleansed_Copacabana,type_Apartment
156823,273.771484,49.00,1.0,1.0,1.0,cleansed_Centro,type_Apartment